html{
    box-sizing: border-box;
    font-size: 62.5%; /*hace que 1rem sea igual a 10px*/
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;/*16px para todos*/
    line-height: 1.8; /*interlineado entre los parrafos*/
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

header{
    background-color: rgba(204, 202, 202, 0.404);
    color: #fff;
}

.header-main{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
@media(min-width: 768px){
    .header-main{
        margin: 0 auto;
    }
}

.header-logo{
    color : #fff;
    display: flex;
    min-height: 7rem;
}

.header-logo img{
    align-self: center;
}
@media(min-width: 768px){
    .header-logo{
        font-size: 3.5rem;
    }
}

ul{
    display: none;/*ocultando el menu*/
}

@media(min-width: 767px){
    ul{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        display: grid;
    }
}

li {
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}
/***************** contenido2 *************************/
.contenido1{
    margin: 3rem 4rem 3rem 4rem;
}
.contenido2{
    display: grid;
    column-gap: 1rem;
    margin: 0 4rem 2rem 4rem;
}

@media(min-width: 768px){
    .contenido2{
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    }
}

.card{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-flow: dense;
    text-align: justify;
    margin: 1rem;
}

.logros{
    display: grid;
}

.contenedor-logro h1{
    text-align: center;
    font-size: 3.2rem;
}

@media(min-width: 768px){
    .logros{
        grid-template-columns: repeat(4, 1fr);
    }
}

.logro{
    text-align: center;
}

.contenedor-logro{
    background-color: rgba(204, 202, 202, 0.404);
    margin: 3rem 0;
    padding-bottom: 2rem;
}

.pagina{
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

.pagina main{
    flex: 1;
}

.calculadora{
    margin-bottom: 4rem;
}

.form{
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 80px 200px;
    row-gap: 1rem;
}
.submit{
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 8px 8px 8px 8px;
}

input[type="text"]{
    padding: 1rem;
}

/*** hamb **************/
.ham{
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: block;
}

.ham span{
    display: block;
    background-color: #000;
    height: 3px;
    width: 2.8rem;
    margin: 5px auto;
    border-radius: 2px;
}

@media(min-width: 768px){
    .ham{
        display: none;/*ocultando el ham*/
    }
}

.calculadora{
    min-width: calc(100%-10px);
    display: flex;
    justify-content: center;
}

@media(min-width: 768px){
    .calculadora{
        justify-content: start;
    }    
}

.respuesta{
    margin: 0 2rem;
}

.mis-proyectos{
    border-bottom: 1px solid #eee;
}